@using Microsoft.AspNetCore.Identity;

@inject SignInManager<IdentityUser> _signinManager;
@inject UserManager<IdentityUser> _userManager;


<ul class="nav-bar" style="display: flex; justify-content:center; align-items: center;">
    @if (_signinManager.IsSignedIn(User))
    {
        <li class="">
            <a class="">Hello @_userManager.GetUserName(User)</a>
        </li>


        <li class="">
            <a class="" asp-action="Logout" asp-controller="Auth">Logout</a>
        </li>
    }
    else
    {
        
    }
</ul>