@using Microsoft.AspNetCore.Identity;

@inject SignInManager<IdentityUser> _signinManager;
@inject UserManager<IdentityUser> _userManager;

    

@if (_signinManager.IsSignedIn(User))
    {
<head>
    <link href="~/css/book.css" rel="stylesheet" />
</head>
    <div class="partial-1" style="display: flex; justify-content:flex-end; align-items: center; width: 30%;
             gap:1rem; margin-right: 1rem;">
            <div id="initials-div"><h3><a class="initial"> @_userManager.GetUserName(User)</a></h3></div>
            <a class="logout" asp-action="Logout" asp-controller="Auth">Logout</a>

    </div>
 }
 else
 {

 }
       
