<head>
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Poppins', sans-serif;
        }
    </style>

</head>

@{
    Layout = null;
}

@model ForgotPasswordViewModel
<h1 class="text-info offset-3" style="margin-top: 5rem">Password Reset</h1>
<form asp-controller="Auth" asp-action="ForgotPassword" method="post" role="form" class="mt-1">


    <div class="mt-3">
        <label asp-for="Email" class="col-md-2 offset-3"></label>
        <div class="col-md-6 offset-3">
            <input asp-for="Email" class="form-control" placeholder="Enter your email"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>



    <div class="mt-3">
        <div class="col-md-4 offset-3">
            <button type="submit" class="btn btn-success">Send Me an Email</button>
        </div>
    </div>

</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}